<div class="aside" tabindex="-1" role="dialog">
<div class="aside-dialog">
  <div class="aside-content">
    <div  class="aside-header">
      <button class="close" type="button" ng-click="$hide()">&times;</button>
      <h4>Add Table</h4>
    </div>
    <div class="aside-body">
      <form novalidate name="addTableFrm" ng-submit="addTable()">
        <div class="form-group">
          <label for="name">Name</label>
          <input
             ng-model="form.name"
             name="name"
             type="text"
             pattern="^\S*$"
             autofocus
             required
             class="form-control">
        </div>
        <div class="form-group" ng-show="tables.length">
          <label for="extends">Extends</table>
          <select 
            class="form-control"
            name="extends"
            ng-model="form.extends"
            ng-options="table as table.name for table in tables">
              <option></option>
            </select>
        </div>
        <div>
          <button type="submit" class="btn pull-right btn-success" ng-disabled="!addTableFrm.$valid">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
